body {
    background-image: url("./images/garage.jpg");
    background-size: 100%;
    position:absolute;
    background-repeat: no-repeat;

}

.table {
    color: rgb(255, 255, 255);
    background-color:rgba(0,0,0,0.5);
    border-style: none;

}

.table-bordered td, .table-bordered th {
    color:rgb(255, 255, 255);
    /* border-style: none; */


}

.table-striped tbody tr:nth-of-type(2n+1) {
    color: rgb(255, 255, 255);
}




.carImage {
    position: absolute;
    width: 40vw;
    height: 40vh;
    left: 200%;
    transform: translateX(-50%);
    bottom: -1%;

}


.leftArrow {
    width: 10%;
}


.rightArrow {
    width: 10%;
}
